/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  text-decoration: none
  font-family: 'Open Sans', sans-serif;

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0
  
// Custom variables
@import 'assets/sass/vars.sass';

// Angular Material theme
@import 'assets/sass/theme.sass';
  
.spacer 
  flex: 1 1 auto

.icon-link
  height: 24px

.tag-list
  padding-top: 5px
  margin: 5px 
  .tag-default
    color: #777
    display: inline-block
    font-size: 0.8rem
    white-space: nowrap
    border-radius: 10rem
    border: 1px solid #ddd
    background: 0 0
    padding: 2px 4px
    cursor: pointer;
    margin: 2px
    &:hover
      transform: scale(1.1)

.spacer 
  flex: 1 1 auto

.text-center
  text-align: center
  align-items: center
  justify-content: center
  align-self: center