<div class="row">
  <app-article-preview
    *ngFor="let article of articles"
    [article]="article">
  </app-article-preview>
</div>


<div class="app-article-preview"
  [hidden]="!loading">
  Loading articles...
</div>
