.card
  flex: 1
  overflow: hidden
  border-radius: .25em
  margin: 25px 1%
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  min-width: 800px
  .tag-list
    padding: 10px
  .head
    position: relative
    display: flex
    transition: all 1.5s ease-in-out
    background-repeat: no-repeat
    background-size: cover
    .article-background 
      display: block
      width: 100%
      height: 200px
      object-fit: cover
      &:hover
        background-position: -79% 21.5%
    .meta
      padding: 0 5px
      height: 50px
      position: absolute
      width: 100%
      align-items: center
      top: 150px
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent)
      .author
        color: #fff
        text-decoration: none
        position: relative
        font-size: 1.25em
        span
          bottom: 10px
          position: absolute
      span.time
        color: #fff
        font-weight: 600
        float: right
        padding: 25px 10px 
        align-items: center
        align-content: center    
      .profile-pic
        max-width: 45px
        border-radius: 50%       
  
  article
    padding: .5em 1.5em
    min-height: 200px
    color: #222
    h2
      margin-top: .5em
      font-weight: 400
      font-size: 205%
      line-height: 1.2em
      margin-bottom: .45em
    p
      line-height: 1.55em

  

@media (max-width: 68em)
  .card
    min-width: 48%

@media (max-width: 48em)
  .card
    min-width: 98%
