<div class="card" style="background-image:'http://farm4.staticflickr.com/3729/12516648584_d9bfc9f762_c.jpg';">
  
  <header class="head">
    <img class="article-background" src="{{ article.image.source.full }}" title="{{ article.image.title }}" alt="{{ article.image.alt }}">
    <div class="meta">
      <a class="author" [routerLink]="['/profile', article.author.username]">
        <img src="{{ article.author.profile_photo.source.full }}" alt="" class="profile-pic">
        <span>
          {{ article.author.username }}
        </span>
      </a>
      <span class="time">{{ article.published_at | date: 'longDate' }}</span>
    </div>
  </header>
  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <article>
        <h2>{{ article.title }}</h2>
        <p>{{ article.description }}</p>
    </article>
  </a>
  <ul class="tag-list">
    <li class="tag-default"
      *ngFor="let tag of article.tags">
      {{ tag }}
    </li>
  </ul> 
</div>
