<mat-toolbar class="main-toolbar">  
  <mat-toolbar-row>
      <span><i class="far fa-edit"></i></span>
      <span><i class="fas fa-users-cog"></i></span>
      <span><i class="fas fa-cog"></i></span>
      <span class="spacer"></span>
      <span class="account">
        Лёха
        <img src="http://localhost:8000/media/images/accounts/alenorze_i8wQLC2.jpeg" alt="" class="profile-pic">
      </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <mat-tab-group>
        <mat-tab label="Все статьи"
            [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
            (click)="setListTo('all')">
        </mat-tab>
        <mat-tab label="Каляны">

        </mat-tab>
        <mat-tab label="Бары">

        </mat-tab>
        <mat-tab label="Деревянные Шахты">

        </mat-tab>
        <mat-tab label="Обзоры">

        </mat-tab>
        <mat-tab label="Hookahunt Cyan">
          
        </mat-tab>
        <mat-tab label="Hookahunt Red">
        
        </mat-tab>
      
      </mat-tab-group>
      <app-article-list [config]="listConfig"></app-article-list>
    </div>

    <div class="col-md-3">
        <aside class="sidebar">
          <h2 class="tag-title">#Популярное</h2>

          <div class="tag-list">
            <a *ngFor="let tag of tags"
                (click)="setListTo('all', {tag: tag})"
                class="tag-default tag-pill">
                {{ tag.name }}
            </a>
          </div>

          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>
        </aside>
  
        
    
    </div>

  </div>
</div>
