.nav-link 
	cursor: pointer;

.mat-toolbar-row
	text-align: center
	span 
		padding: 0 10px
		
		.profile-pic
			max-width: 30px
			border-radius: 50%
			vertical-align: middle       
  
.main-toolbar
	min-height: 40px
	height: 40px
	background-color: #eff4f5
	color: #657786

.sidebar
	.tag-title
		padding: 20px 10px
		font-weight: 100
		font-size: 1.5em
	.tag-pill
		color: #555
		background-color: #eff4f5
		border-radius: 5px
		margin: 3px
		&:hover
			border: 1px solid #657786
			z-index: 9999
			color: #222
			background-color: #fff