<footer class="footer">
  <!-- <div class="col-md-2 col-lg-6 footer__column">
      <div class="footer__logo">
        <img src="" alt="">
      </div>
  </div>
  <div class="col-md-6 col-lg-6 footer__column">
    <ul class="footer__list">
      <li>Магазин</li>
      <li>Контакты</li>
      <li>Дрочня</li>
    </ul>
  </div>
  <div class="col-md-4 col-lg-4 footer__column">
      <div class="social_icons">
        <ul class="social__list">
          <li>
            <a href="">eqwdqw</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
          </li> 
        </ul>
      </div>
  </div> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-12 footer__column">
        <div class="footer__logo">
          <img src="https://image.ibb.co/cuL3gT/logo_white.png" alt="">
        </div>
    </div>
    <div class="col-md-6 col-sm-12 footer__column">
      <ul class="footer__list">
        <li><a href="">Магазин</a></li>
        <li><a href="">Контакты</a></li>
        <li><a href="">Дрочня</a></li>
        
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 footer__column">
        <div class="footer__icons">
          <ul class="footer__list">
            <li>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-telegram-plane"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
            </li> 
          </ul>
        </div>
    </div>
    </div>
  </div>
</footer>
