.footer 
    background-color: black
    padding-bottom: 10px

    &__logo

        img
            max-width: 120px
            opacity: 0.5
            filter: alpha(opacity=50)
            &:hover
                opacity: 0.85
                filter: alpha(opacity=85)
            @media (max-width : 640px)
                max-width: 220px
    &__list
        display: inline-flex
        text-align: center
        
        
        li 
            padding-left: 10px
            padding-right: 10px
            padding-bottom: 5px
            @media (max-width : 981px)
                padding-left: 2px 
                padding-right: 2px
        a
            color: gray
            font-size: 1.2em
            text-decoration: none
            
            &:hover
                color: #d3d3d3
            i
                font-size: 25px
                padding: 0px 7px 10px
                @media (max-width : 981px)
                    font-size: 20px
                    padding: 0px 3px 10px
                @media (max-width : 640px)
                    font-size: 35px
                

    &__column
        text-align: center  
        margin-top: 10px    
        padding-right: 10px
        padding-left: 10px   
        
            
