header
  text-align: center
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center
  background-color: #222
  .neon-logo
    padding: 10px 0
    position: relative
    color: ivory
    height: 50px
    a
      color: #fff
      i 
        font: 30px 'Nixie One', Helvetica, Arial
      i.off 
        color: rgba(46, 46, 46, 0.61)
        text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5)
