<header>
  <div class="neon-logo">

    <a id="neon"
      routerLink="/" 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i>H</i><i>o</i><i>o</i><i>k</i><i>a</i><i></i><i>H</i><i>u</i><i>nt</i>
    </a>

  </div>
</header>
