.article-page
    background-color: #111
    height: 1000px

    &_container
        position: relative
    
    .bg-img
        position: absolute
        width: 100%
        top: 0
        left: 0
        height: 400px
        background: url('http://unsplash.it/1200x800') center center no-repeat
        background-size: cover
        &:before
            content: ''
            position: absolute
            height: 100px
            margin-top: auto
            top: 0
            right: 0
            bottom: 0
            left: 0
            background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1))
            opacity: 1
            
    .article-content
        background-color: black
        height: 1000px
        padding: 0px
        
    h1
        z-index: 100
        text-align: center
        text-transform: uppercase
        font-size: 25px
        margin-top: -100px
        position: absolute
        top: 350px
        left: 150px

    

        

        